<!DOCTYPE html>
<html lang="en">


<head>
    <title>Education Master Template</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>All Courses</h4>
                            <ul>
                                <li><a href="course-details.html">Accounting/Finance</a></li>
                                <li><a href="course-details.html">civil engineering</a></li>
                                <li><a href="course-details.html">Art/Design</a></li>
                                <li><a href="course-details.html">Marine Engineering</a></li>
                                <li><a href="course-details.html">Business Management</a></li>
                                <li><a href="course-details.html">Journalism/Writing</a></li>
                                <li><a href="course-details.html">Physical Education</a></li>
                                <li><a href="course-details.html">Political Science</a></li>
                                <li><a href="course-details.html">Sciences</a></li>
                                <li><a href="course-details.html">Statistics</a></li>
                                <li><a href="course-details.html">Web Design/Development</a></li>
                                <li><a href="course-details.html">SEO</a></li>
                                <li><a href="course-details.html">Google Business</a></li>
                                <li><a href="course-details.html">Graphics Design</a></li>
                                <li><a href="course-details.html">Networking Courses</a></li>
                                <li><a href="course-details.html">Information technology</a></li>
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li>
                            </ul>
                            <h4>All Pages</h4>
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="admission.html">Admission</a></li>
                                <li><a href="all-courses.html">All courses</a></li>
                                <li><a href="course-details.html">Course details</a></li>
                                <li><a href="awards.html">Awards</a></li>
                                <li><a href="seminar.html">Seminar</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="event-details.html">Event details</a></li>
                                <li><a href="event-register.html">Event register</a></li>
                                <li><a href="contact-us.html">Contact us</a></li>
                            </ul>
                            <h4>User Profile</h4>
                            <ul>
                                <li><a href="dashboard.html">User profile</a></li>
                                <li><a href="db-courses.html">Courses</a></li>
                                <li><a href="db-exams.html">Exams</a></li>
                                <li><a href="db-profile.html">Prfile</a></li>
                                <li><a href="db-time-line.html">Time line</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Contact: N 11/38, B-1-R, रानीपुर, महमूरगंज, वाराणसी, उत्तर प्रदेश 221010</a>
                                </li>
                                <li><a href="#">Phone: 9415273790</a>
                                </li>
                            </ul>
                        </div>
                       <!-- <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li>
                            </ul>
                        </div> -->
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="https://www.facebook.com/Kashigurukul" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://www.youtube.com/channel/UCnmsE21eyw14MunCL0BzevA" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://twitter.com/kashi_gurukul" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a>
                                </li>
                                <li class="about-menu">
                                    <a href="about.html" class="mm-arr">About us</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="admission.html">
                                                            <img src="images/gurukullogo500-300.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>सनातन प्रकृति, संस्कृति, भाषा, धर्म, राष्ट्रीय भावना, सच्चरित्रता एवं समन्वित लोकनीति की रक्षा हेतु लोकहित के प्रति जागरूकता को बढ़ावा देना |</p>
                                                    <a href="about.html" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="about.html">About</a></li>
                                                        <li><a href="#">Administration</a></li>
                                                        <li><a href="#">Awards</a></li>
                                                        <li><a href="#">Our work</a></li>
                                                        <li><a href="#">Facilities</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="index.html">Recruitment</a>
                                <li><a href="#">Affiliation</a></li>
                                <li><a href="#">E-Library</a>
                                </li>
                                <li><a href="#">Gallery</a>
                                </li>
                                <li><a href="contact-us.html">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <marquee><p class="text-light"><strong><mark>COVID-19 के कारन अभी नए प्रवेश स्थगित है स्तिथि सामान्य होने के उपरांत सुचना दी जाएगी</mark></strong> </p></marquee>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->


    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/gurukullogo128-128.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>कुलगीत</h4>
                            <p>"संगच्छध्वम् संवद्ध्वम्, सं वो मनांसि जानताम्। देवा भागं यथा पूर्वे, संजानानामुपासते।।." समानो मंत्रः समिति समानी, समानं मनः सह चित्तमेषाम्।समानी व आकूतिः समाना हृदयानि व, समानवस्तु वो मनो यथा व: सुसहासति।"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>संक्षिप्त  <span>इतिहास</span></h2>
                    <p></p>
                </div>
            </div>
            <div class="row">      
                <div class="udb-sec udb-prof">
                     <p>स्व० पं० हरिशंकर मिश्र जी “जो सभी लोगों के शैक्षिक, सामाजिक एवं आर्थिक विकास हेतु निरन्तर कार्य करते रहते थे तथा अपने स्वस्थ मनःमस्तिष्क में अपनी व्यक्तिगत / पारिवारिक संकल्पों / कार्यों के साथ-साथ समाज एवं राष्ट्रहित का निरन्तर चिंतन भी बनाये रखते थे तथा उसे पूरा करने के लिए यथाशक्ति अपनी सत्यनिष्ठा से अहर्निश संलग्न रहते थे” के काशीलाभ / मुक्तिलाभ हो जाने के कारण उनकी स्मृति में श्रीमती मोती देवी के द्वारा श्रीकाशी गुरुकुल सेवा न्यास की स्थापना की गयी । यद्यपि पण्डित जी के जीवन काल में ही उनके द्वारा जनहित में यह संस्था सन् 2001 में स्थापित कर दी गयी थी परन्तु विधिवत् स्थापना (पंजीकृत) 2016 में की गयी।</p>

                     <p>अपने पति स्व० हरिशंकर मिश्र जी के आदर्शों एवं पदचिन्हों पर चलते हुए इस न्यास की स्थापना के पीछे मुख्य रूप से निम्नलिखित कारण थे-</p>
                     <ol>
                        <li><p>समाज के साधनहीन व्यक्तियों के जीवन की मूलभूत आवश्यकताओं- भोजन, शिक्षा एवं आवास की व्यवस्था करना।</p></li>
                        <li><p>शिक्षित बेरोजगारों को उनकी योग्यता के अनुरूप तकनीकी एवं व्यावहारिक ज्ञान प्रदान कर उन्हें रोजगार का अवसर उपलब्ध कराना।</p></li>
                        <li><p>समाज को आत्मचिन्तन के लिए तत्पर एवं तैयार करने हेतु, समाज में परस्पर भाई-चारा बनाये रखने एवं समाज को सुशिक्षित करने में लिंग भेद, जाति-पाँति, धर्म-सम्प्रदाय, ऊँच-नीच, स्पृश्य-अस्पृश्य की भावना को तिरोहित करते हुए जनहित के कार्यों को संचालित करना।</p></li>
                        <li><p>समाज को न्याय के सत्पथ पर चलते हुए अधिकाधिक लाभ प्रदान करने हेतु विभिन्न विधाओं में समाज को शिक्षित किये जाने की आवश्यकता को देखते हुए विभिन्न संस्थाओं एवं समितियों का गठन किया जाना आवश्यक समझकर इसकी सम्पूर्ण व्यवस्था के लिए एक कल्याणकारी न्यास की विधिवत् (पंजीकृत) स्थापना करना।</p></li>
                        <li><p>आवश्यक संसाधनों की व्यवस्था के लिए जनहित में न्यास के अन्तर्गत न्यास कोष की स्थापना करना जिसमें विभिन्न वैधानिक उपायों से धन व चल-अचल सम्पत्ति की व्यवस्था कर समाज को अधिकाधिक लाभ पहुचाना।</p></li>
                        <li><p>सनातन सिद्धान्तों को जन-जन तक पहुँचाना।</p></li>
                        <li><p>वैश्विक चुनौतियों से निपटने, नवनवोन्मेष धर्मिता को बढ़ावा देने, वैश्विक संवाद स्थापित करने, राष्ट्रीय एवं अन्तरराष्ट्रीय, सरकारी / गैर सरकारी संस्थाओं को विश्व शान्ति में सहयोग प्रदान करने, वैधानिक उपायों को सुझाना / प्रोत्साहित / जागरूक करना।
इस प्रकार उपर्युक्त प्रमुख उद्देश्यों को ध्यान में रखते हुए इस न्यास के प्रबन्धन एवं इसके सफल संचालन हेतु इसके अन्तर्गत न्यास परिषद् का गठन किया गया जो निम्नलिखित उद्देश्यों की सम्प्राप्ति हेतु न्यास पत्र में वर्णित नियमों/उपबन्धों के सर्वथा अधीन रहकर न्यास की श्रीवृद्धि कर रही है।</p></li>
                     </ol>
                </div>
            </div>
            <div class="row">
                <div class="con-title">
                    <h2>न्यास का <span>मुख्यालय</span></h2>
                    <p></p>
                </div>
            </div>
            <div class="row">      
                <div class="udb-sec udb-prof">
                     <p>न्यास का मुख्यालय उत्तर वाहिनी गंगा के पश्चिमी तट पर स्थित काशी (वाराणसी) में है। इसकी शाखाएँ / शाखा कार्यालय सम्पूर्ण विश्व में न्यास की मंशा एवं सामर्थ्य के अनुरूप स्थापित कर संचालित करने का प्रयास किया जा रहा है। इस न्यास के समस्त कार्यालय 'अक्षयवट भवन' के नाम से जाने जाते है ।</p>
                </div>
            </div>  
            <div class="row">
                <div class="con-title">
                    <h2>न्यास का <span>प्रमुख उद्देश्य</span></h2>
                    <p></p>
                </div>
            </div>
            <div class="row">      
                <div class="udb-sec udb-prof">
                     <p>सनातन प्रकृति, संस्कृति, भाषा, धर्म, राष्ट्रीय भावना, सच्चरित्रता एवं समन्वित लोकनीति की रक्षा हेतु लोकहित के प्रति जागरूकता और बोध में अभिवृद्धि करते हुए विश्वव्यापी दृष्टिकोण 'वसुधैव कुटुम्बकम्, यत्र विश्वं भवत्येकनीडम्, ईशावास्यमिदं सर्वम् तथा तेन त्यक्तेन भुञ्जीथाः' की समझ विकसित करना सभी के लिए आवश्यक समझकर न्यास के चार प्रमुख उद्देश्य निम्नलिखित हैं-</p>
                     <ol>
                         <li><p>विश्व शान्ति व मानवता के लिए सेवा कार्य करना, एवं उसमें सहयोग प्रदान करना।</p></li>
                         <li><p>मानवीय मूल्यों पर आधारित तार्किक एवं वैज्ञानिक दृष्टिकोण के साथ जीवन यापन करने हेतु आवश्यक ज्ञान और कौशलों को बढ़ावा देना।</p></li>
                         <li><p>ज्ञान की अविभाज्यता को स्वीकार करते हुए जीवन के कलापक्ष एवं विज्ञान पक्ष की समस्त शाखाओं में शिक्षण, प्रशिक्षण एवं अनुसन्धान को प्रोत्साहित करना।</p></li>
                         <li><p>राष्ट्रीय एवं अन्तरराष्ट्रीय स्तर पर शैक्षिक, सामाजिक, सांस्कृतिक एवं लोकतांत्रिक विकास के पारस्परिक सहअस्तित्व की भावना को बढ़ावा देना तथा समाज को जागरूक करना।</p></li>
                     </ol>
                </div>
            </div> 
            <div class="row">   
                <div class="con-title">>
                            <h2>विभिन्न प्रकल्पों का <span>विवरण</span></h2>
                </div>

            </div>   
            
                <div class="udb-sec udb-prof">
                    <div class="row">
                     <p>लोक कल्याण एवं मानवीय मूल्यों को ध्यान में रखते हुए आवश्यकतानुसार विभिन्न प्रकल्पों, समितियों, उपसमितियों एवं प्रकोष्ठों आदि की स्थापना करना तथा उनका संचालन करना आवश्यक समझकर भविष्य में काशी गुरुकुल सेवा न्यास द्वारा जन सहयोग से स्थापित किए जाने वाले अवश्यंभावी विभिन्न प्रकल्पों का विवरण अधोलिखित है-</p>
                 </div>
                    <div class="col-md-6">  
                        <ul class="list-group">
                            <li class="list-group-item">काशी गुरुकुल वैदिक विद्यालय</li>
                            <li class="list-group-item">काशी गुरुकुल वैदिक महाविद्यालय</li>
                            <li class="list-group-item">काशी गुरुकुल पूर्व प्राथमिक विद्यालय</li>
                            <li class="list-group-item">काशी गुरुकुल प्राथमिक विद्यालय</li>
                            <li class="list-group-item">काशी गुरुकुल पूर्व माध्यमिक विद्यालय</li>
                            <li class="list-group-item">काशी गुरुकुल उत्तर माध्यमिक विद्यालय</li>
                            <li class="list-group-item">काशी गुरुकुल महाविद्यालय</li>
                            <li class="list-group-item">काशी गुरुकुल तकनीकी एवं प्रौद्योगिकी संस्थान</li>
                            <li class="list-group-item">काशी गुरुकुल आयुर्विज्ञान एवं चिकित्सा संस्थान</li>
                        </ul>
                    </div> 
                    <div class="col-md-6">  
                        <ul class="list-group">
                            <li class="list-group-item">काशी गुरुकुल महेश मानस प्रेस</li>
                            <li class="list-group-item">काशी गुरुकुल संग्रहालय</li>
                            <li class="list-group-item">काशी गुरुकुल कौशल विकास केन्द्र</li>
                            <li class="list-group-item">काशी गुरुकुल गौशाला</li>
                            <li class="list-group-item">काशी गुरुकुल दिव्यांग शिक्षण प्रशिक्षण</li>
                            <li class="list-group-item">काशी गुरुकुल जनसंचार संस्थान</li>
                            <li class="list-group-item">काशी गुरुकुल अनुसंधान संस्थान</li>
                            <li class="list-group-item">काशी गुरुकुल विश्वविद्यालय</li>
                            <li class="list-group-item">.</li>
                        </ul>
                    </div> 
                    <br>
                    <p>
                        वर्तमान में काशी गुरुकुल सेवा न्यास द्वारा जन सहयोग से संचालित किए जा रहे विभिन्न प्रकल्पों का विवरण अधोलिखित है-
                    </p>

                </div> 
            <!--</div>  -->


           


             </div>       
        </div>
    </section>
    <!--SECTION END-->


    <!--HEADER SECTION-->
    <section class="wed-hom-footer">
        <div class="container">
            <!--<div class="row">
                <div class="col-md-12">
                <h4>About Wedding Planner</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                <p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <p></p>
              </div>
              </div>-->
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>कार्यालय समय</h4>
                    <ul>
                        <li><a href="#">मार्च से अक्टूबर : </a></li>
                        <li><a href="#">प्रात: 9 बजे से सायं 5 बजे तक।</a></li>
                        <li><a href="#">नवम्बर से फरवरी : </a></li>
                        <li><a href="#">प्रातः 9.30 बजे से सायं 5.30 तक।</a></li>
                        <li><a href="#">भोजनावकाश : </a></li>
                        <li><a href="#">दोपहर 1.30 बजे से 2 बजे तक। </a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="#">व्रत/पर्व निर्णय</a></li>
                        <li><a href="#">पञ्चांग</a></li>
                        <li><a href="#">कुंडली</a></li>
                        <li><a href="#">कुंडली मिलान</a></li>
                        <li><a href="#">फलादेश </a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="#">24x7 Live help</a>
                        </li>
                        <li><a href="#">Contact us</a>
                        </li>
                        <li><a href="#">Feedback</a>
                        </li>
                        <li><a href="#">FAQs</a>
                        </li>
                        <li><a href="#">Safety Tips</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: काशी गुरुकुल सेवा न्यास, N 11/38, B-1-R, रानीपुर, महमूरगंज, वाराणसी, उत्तर प्रदेश 221010.</p>
                    <p>Phone: <a href="#!">9415273790</a></p>
                    <p>Email: <a href="#!">kashigurukulsevanyas@gmail.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/Kashigurukul" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://twitter.com/kashi_gurukul" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/kashigurukul/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCnmsE21eyw14MunCL0BzevA" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                   <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>


</html>